<div class="card-columns m-3 mt-3">

  <!-- Local Projects -->
  {% for project in sorted %}

  {%- assign project_type = "local" -%}
  {%- assign project_id = project.name | slugify -%}
  {%- assign project_img = project.image -%}
  {%- assign project_name = project.name -%}
  {%- assign project_desc = project.description -%}
  {%- assign project_tools = project.tools -%}
  {%- assign project_date = project.date -%}

  {%- if project.external_url -%}
  {%- assign project_url = project.external_url -%}
  {%- assign external = true -%}
  {%- else -%}
  {%- assign project_url = project.url | relative_url -%}
  {%- assign external = false -%}
  {%- endif -%}

  {% include projects/project-card.html %}

  {% endfor %}

</div>