<div class="row justify-content-center align-items-center p-4">
    <div class="col-lg-4 col-md-6 text-center mt-4">
        <!-- Fine Circle Responsive Image -->
        <div id="container" class="my-2">
            <div id="dummy"></div>
            <div id="element">
                <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" style="width:300px;height:300px;"
                    data-wow-delay=".1s">
            </div>
        </div>

        <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
        <br>
        <p class="text-center wow animated slideInUp" data-wow-delay=".15s">
            {%- capture projectslink -%}{%- link pages/products.html -%}{%- endcapture -%}
        </p>
        <div style="text-align: center;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/frudQqU3TKU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>