

<div class="row justify-content-center align-items-center p-4">
    <div class="col-lg-4 col-md-6 text-center mt-4">

        <!-- Fine Circle Responsive Image -->
        <div id="container" class="my-2">
            <div id="dummy"></div>
            <div id="element">
                <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn"
                    data-wow-delay=".1s">
            </div>
        </div>

        <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
        <br>
        <p class="text-center wow animated slideInUp" data-wow-delay=".15s">
            {%- capture aboutlink -%}{%- link pages/about.md -%}{%- endcapture -%}
            {% include elements/button.html link=aboutlink text="about me" size="lg" style="info" %}
            {%- capture projectslink -%}{%- link pages/projects.html -%}{%- endcapture -%}
            {% include elements/button.html link=projectslink text="my projects" size="lg" style="success" %}
            
            {% raw %}
            {% include elements/video.html id="frudQqU3TKU" %}
            {% endraw %}
        </p>

    </div>
</div>