---
layout: default
title: projects
permalink: /projects
weight: 2
remote_projects:
  - ezygeo-ai/Quick-Screening-AVO-App
  - ezygeo-ai/3D-Seismic-Attribute
---

<h2 class="text-center mt-5"><i class="fas fa-star"></i> ezygeo's products</h2>
{% assign sorted = site.projects | where: "featured", true | sort: "date" | reverse %}
{% include projects/index.html %}

<h2 class="text-center"><i class="fas fa-terminal"></i> coding projects</h2>
{% assign sorted = site.projects | where_exp: "item", "item.type == 'coding'" | sort: "date" | reverse %}
{% include projects/index.html %}